@using Arista_ZebraTablet.Services

<!-- Overlay Layout - keep Theme transparent so the camera remains visible -->
<MobileComponentLayout Theme="@myScannerControlsTheme">
    <Body>
        <!-- Control Bar -->
        <MudStack Row Class="mx-4 mb-5" Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.Center">
            <!-- Switch Camera Button (front <-> rear) -->
            <MudFab Color="Color.Primary"
                    Size="Size.Small"
                    StartIcon="@Icons.Material.Outlined.Cameraswitch"
                    OnClick="SwitchCamera"
                    DropShadow="false" />

            <!-- Scan Pause Button -->
            <MudFab Color="Color.Primary"
                    Size="Size.Small"
                    StartIcon="@(scanPaused ? @Icons.Material.Outlined.PlayArrow : @Icons.Material.Outlined.Pause)"
                    OnClick="ToggleScanPause"
                    DropShadow="false" />

            <!-- Torch Toggle Button -->
            <MudFab Color="Color.Primary"
                    Size="Size.Small"
                    StartIcon="@(flashLightOn ? @Icons.Material.Outlined.FlashlightOff : @Icons.Material.Outlined.FlashlightOn)"
                    OnClick="ToggleTorch"
                    DropShadow="false" />
        </MudStack>
    </Body>
</MobileComponentLayout>