@page "/"
@* @inject NavigationManager NavigationManager *@


@using Arista_ZebraTablet.Shared.Application.Enums
@using Arista_ZebraTablet.Shared.Application.ViewModels

<PageTitle>Home | @AppConstant.AppTitle</PageTitle>

<MudBreakpointProvider OnBreakpointChanged="HandleBreakpointChanged">
    <MudContainer Class="pt-6 pb-0 px-4 position-sticky" MaxWidth="MaxWidth.Large" Style="">
        <!-- Barcode Categorization Mode Toggle Button -->
        <MudGrid Spacing="4" Justify="Justify.Center">
            <MudItem xs="12" sm="4">
                <MudToggleGroup T="BarcodeMode"
                                @bind-Value="barcodeMode"
                                SelectionMode="SelectionMode.SingleSelection"
                                SelectedClass="bg-white"
                                Color="Color.Inherit"
                                Size="Size.Small"
                                Class="mud-theme-primary"
                                Outlined="false">
                    <MudToggleItem Text="Standard" Value="BarcodeMode.Standard" Class="ma-1 rounded" />
                    <MudToggleItem Text="Unique" Value="BarcodeMode.Unique" Class="ma-1 rounded" />
                </MudToggleGroup>
            </MudItem>
        </MudGrid>
    </MudContainer>

    <MudContainer Class="p-4 d-flex flex-column gap-3 position-relative" MaxWidth="MaxWidth.Large" Style="flex: 1 1 auto; min-height: 0;">
        <!-- Uploading Images Progress / Uploading Detected Barcodes Progress / Processing Progress -->
        <LoadingOverlay
            Visible="@(isUploadingImg || isUploadingResults || isBusy)"
            Text="@(isUploadingImg ? $"Uploading images... {uploadImgProgress}%" : (isUploadingResults ? "Uploading detected barcodes" : "Detecting barcodes..."))"
        />

        <MudContainer Class="p-0 overflow-auto" Style="flex: 1 1 auto; min-height: 0;">
            @if (!uploadedImgFiles.Any() && !isUploadingImg)
            {
                <MudStack Class="h-100" Spacing="4" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
                    <MudItem xs="12" sm="6" Class="@($"{(currentBreakpoint == Breakpoint.Xs ? "align-content-center" : "align-content-end")}")">
                        <MudPaper Class="pa-5 bg-transparent" Elevation="0">
                            <MudStack Spacing="3" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                <!-- Instruction Section -->
                                <MudStack Spacing="2" AlignItems="AlignItems.Center">
                                    <MudText Typo="Typo.h5" Class="fw-bold">Scan Barcodes</MudText>
                                    <MudText Typo="Typo.body2" Class="text-center">
                                        Upload one or more images and tap <MudIcon Size="Size.Small" Icon="material-symbols-rounded/scan" /><b> Detect Barcodes</b> to begin.<br />
                                    </MudText>
                                </MudStack>
                            </MudStack>

                            <!-- Barcode Decoding Progress -->
                            <MudCollapse Class="w-100" Expanded="isBusy">
                                <MudStack Class="mt-3" Spacing="0" AlignItems="AlignItems.Center">
                                    <MudProgressLinear Value="@decodeProgress" Color="Color.Info" Rounded />
                                    <MudText Typo="Typo.caption" Align="Align.Center" Class="mt-1">
                                        Detecting barcodes... @decodeProgress%
                                    </MudText>
                                </MudStack>
                            </MudCollapse>
                        </MudPaper>
                    </MudItem>
                </MudStack>
            }
            else
            {
                <!-- Uploaded Image File Preview Cards -->
                <MudStack Class="h-100 px-0" Spacing="2">
                    @foreach (var img in uploadedImgFiles)
                    {
                        <!-- Image File Preview Card -->
                        <MudCard Elevation="0">
                            <MudCardContent Class="pa-3">
                                <MudStack Row AlignItems="AlignItems.Center" Spacing="1">
                                    <!-- Thumbnail Image -->
                                    @if (!string.IsNullOrWhiteSpace(img.PreviewDataUrl))
                                    {
                                        <MudLink OnClick="() => OpenPreviewImgDialogAsync(img.Id)">
                                            <MudImage Src="@img.PreviewDataUrl"
                                                        Class="rounded-lg me-3"
                                                        Width="56"
                                                        Height="56"
                                                        ObjectFit="ObjectFit.Cover" />
                                        </MudLink>
                                    }
                                    else
                                    {
                                        <MudAvatar Class="me-3" Size="Size.Large" Color="Color.Default" Rounded>
                                            <MudIcon Icon="@Icons.Material.Rounded.Image" />
                                        </MudAvatar>
                                    }

                                    <!-- Image Information -->
                                    <MudStack Spacing="0" Class="overflow-hidden">
                                        <MudText Typo="Typo.subtitle2" Style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">
                                            @img.FileName
                                        </MudText>

                                        <MudStack Row Spacing="0">
                                            <MudChip T="ImgItemViewModel" Color="@ImgFileStateColor(img.State)" Size="Size.Small">
                                                @ImgFileStateLabel(img.State)
                                            </MudChip>

                                            @if (img.State == FileState.Done)
                                            {
                                                <MudChip T="ImgItemViewModel"
                                                            Color="Color.Primary"
                                                            Size="Size.Small"
                                                            Icon="@(IsDetectedBarcodesDisplayed(img.Id) && img.DetectResult.Barcodes.Count > 0 ? @Icons.Material.Rounded.Visibility : @Icons.Material.Rounded.VisibilityOff)"
                                                            OnClick="@(() => ToggleDisplayDetectedBarcodes(img.Id))">
                                                    @($"{img.DetectResult!.Barcodes.Count} barcode(s)")
                                                </MudChip>
                                            }
                                        </MudStack>
                                    </MudStack>

                                    <MudSpacer />

                                    <!-- Delete Image Button -->
                                    <MudTooltip Text="Delete" Placement="Placement.Left" Delay="400" Arrow>
                                        <MudIconButton Icon="@Icons.Material.Rounded.DeleteOutline"
                                                        Color="Color.Error"
                                                        Size="Size.Small"
                                                        Disabled="@isBusy"
                                                        OnClick="@(() => DeleteUploadedImgConfirmationAsync(img))" />
                                    </MudTooltip>
                                </MudStack>

                                @if (img.State == FileState.Error && !string.IsNullOrWhiteSpace(img.ErrorMessage))
                                {
                                    <MudAlert Class="mt-2" Severity="Severity.Error" Dense NoIcon>
                                        <MudText Typo="Typo.caption">@img.ErrorMessage</MudText>
                                    </MudAlert>
                                }

                                <!-- Collapsible Detected Barcode Results inside the Card -->
                                <MudCollapse Expanded="IsDetectedBarcodesDisplayed(img.Id) && img.DetectResult.Barcodes.Count > 0">
                                    @if (img.State == FileState.Done)
                                    {
                                        <MudSimpleTable Class="mt-3" Dense Bordered Hover Outlined>
                                            <tbody>
                                                @foreach (var detectedBarcode in img.DetectResult.Barcodes)
                                                {
                                                    <tr>
                                                        <td>@detectedBarcode.Category</td>
                                                        <td>@detectedBarcode.Value</td>
                                                        <td style="width: 0;">
                                                            <MudStack Row Spacing="1" AlignItems="AlignItems.Center">
                                                                <!-- Detected Barcode Results Actions (Display on Smaller Screen) -->
                                                                <MudHidden Breakpoint="Breakpoint.SmAndUp">
                                                                    <MudMenu Icon="@Icons.Material.Rounded.MoreVert"
                                                                                Size="Size.Small"
                                                                                AnchorOrigin="Origin.TopRight"
                                                                                TransformOrigin="Origin.BottomRight"
                                                                                Disabled="isBusy"
                                                                                Dense>
                                                                        <MudMenuItem Label="Edit"
                                                                                        Icon="@Icons.Material.Rounded.Edit"
                                                                                        OnClick="@(() => OpenCategoryEditDialogAsync(detectedBarcode))" />
                                                                        <MudMenuItem Label="Delete"
                                                                                        Icon="@Icons.Material.Rounded.DeleteOutline"
                                                                                        OnClick="@(() => DeleteDetectedBarcodeConfirmationAsync(img, detectedBarcode))" />
                                                                    </MudMenu>
                                                                </MudHidden>

                                                                <!-- Detected Barcode Results Actions (Display on Larger Screen) -->
                                                                <MudHidden Breakpoint="Breakpoint.Xs">
                                                                    <!-- Edit Scanned Result Button -->
                                                                    <MudTooltip Text="Edit" Placement="Placement.Left" Delay="400" Arrow>
                                                                        <MudIconButton Icon="@Icons.Material.Rounded.Edit"
                                                                                        Color="Color.Primary"
                                                                                        Size="Size.Small"
                                                                                        Disabled="@isUploadingResults"
                                                                                        OnClick="@(() => OpenCategoryEditDialogAsync(detectedBarcode))" />
                                                                    </MudTooltip>

                                                                    <!-- Delete Scanned Result Button -->
                                                                    <MudTooltip Text="Delete" Placement="Placement.Left" Delay="400" Arrow>
                                                                        <MudIconButton Icon="@Icons.Material.Rounded.DeleteOutline"
                                                                                        Color="Color.Error"
                                                                                        Size="Size.Small"
                                                                                        Disabled="@isUploadingResults"
                                                                                        OnClick="@(() => DeleteDetectedBarcodeConfirmationAsync(img, detectedBarcode))" />
                                                                    </MudTooltip>
                                                                </MudHidden>
                                                            </MudStack>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </MudSimpleTable>
                                    }
                                </MudCollapse>
                            </MudCardContent>
                        </MudCard>
                    }
                </MudStack>
            }
        </MudContainer>
    </MudContainer>

    <MudContainer Class="@($"pt-0 pb-6 px-4 {(currentBreakpoint == Breakpoint.Xs || isUploadingImg || uploadedImgFiles.Any() ? "" : "flex-grow-1")}")" MaxWidth="MaxWidth.Large" Style="height:fit-content;">
        <!-- Toolbar Section for Uploading Images -->
        <MudItem Class="position-sticky">
            <MudPaper Class="px-3 py-2 mud-theme-primary" Elevation="0" Style="border-radius: 40px">
                <MudStack Row Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly">
                    <!-- More Button & More Options Drawer (Display on Smaller Screen) -->
                    <MudHidden Breakpoint="Breakpoint.SmAndUp">
                        <!-- More Button -->
                        <MudItem>
                            <MudFab Color="Color.Secondary"
                                    OnClick="ToggleMoreDrawer"
                                    Size="Size.Small"
                                    StartIcon="material-symbols-rounded/add"
                                    DropShadow="false" />
                        </MudItem>

                        <!-- More Options Drawer -->
                        <MudDrawer @bind-Open="@moreDrawerOpen" Anchor="@Anchor.Bottom" Elevation="25" Variant="@DrawerVariant.Temporary" Style="border-top-left-radius: 16px; border-top-right-radius: 16px;">
                            <MudNavMenu class="py-3" Color="Color.Surface">
                                @if (factor != "Web")
                                {
                                    <MudContainer Class="px-3 d-flex flex-column" Gutters="false">
                                        <MudStack Row Spacing="2" Justify="Justify.Center">
                                            <MudButton Class="flex-grow-1"
                                                       Variant="Variant.Filled"
                                                       Color="Color.Secondary"
                                                       DropShadow="false"
                                                       OnClick="OpenBarcodeScanner">
                                                <div class="d-flex flex-column align-items-center">
                                                    <MudIcon Icon="material-symbols-rounded/barcode_scanner" />
                                                    Barcode Scanner
                                                </div>
                                            </MudButton>

                                            <MudButton Class="flex-grow-1"
                                                       Variant="Variant.Filled"
                                                       Color="Color.Secondary"
                                                       DropShadow="false"
                                                       OnClick="OpenZebraScanner">
                                                <div class="d-flex flex-column align-items-center">
                                                    <MudIcon Icon="material-symbols-rounded/point_scan" />
                                                    Zebra Scanner
                                                </div>
                                            </MudButton>
                                        </MudStack>
                                        <MudDivider Class="my-3" />
                                    </MudContainer>
                                }
                                <MudNavLink
                                    Icon="material-symbols-rounded/database_upload"
                                    OnClick="SaveDetectedBarcodesConfirmationAsync"
                                    Disabled="isUploadingResults"
                                >
                                    Upload to Database
                                </MudNavLink>
                            </MudNavMenu>
                        </MudDrawer>
                    </MudHidden>

                    @if (factor != "Web")
                    {
                        <!-- Scanner Buttons (Display on Larger Screen) -->
                        <MudHidden Breakpoint="Breakpoint.Xs">
                            <!-- Barcode Scanner Button -->
                            <MudTooltip Text="Barcode Scanner" Placement="Placement.Right" Delay="400" Arrow>
                                <MudFab Color="Color.Secondary"
                                        Size="Size.Small"
                                        StartIcon="material-symbols-rounded/barcode_scanner"
                                        OnClick="OpenBarcodeScanner"
                                        DropShadow="false" />
                            </MudTooltip>

                            <!-- Zebra Tablet Barcode Scanner Button -->
                            <MudTooltip Text="Zebra Scanner" Placement="Placement.Top" Delay="400" Arrow>
                                <MudFab Color="Color.Secondary"
                                        Size="Size.Small"
                                        StartIcon="material-symbols-rounded/point_scan"
                                        OnClick="OpenZebraScanner"
                                        DropShadow="false" />
                            </MudTooltip>
                        </MudHidden>
                    }

                    <!-- Image File picker -->
                    <MudFileUpload T="IReadOnlyList<IBrowserFile>"
                                    Class="w-100"
                                   Accept=".jpg,.jpeg,.png,.heic,.heif,image/*"
                                   FilesChanged="UploadImageFilesAsync"
                                   MaximumFileCount="50"
                                   Disabled="@(isUploadingImg || isUploadingResults)">
                        <ActivatorContent>
                            <MudFab Class="text-white w-100"
                                    Label="Upload Images"
                                    Color="Color.Secondary"
                                    Size="Size.Small"
                                    StartIcon="@Icons.Material.Outlined.FileUpload"
                                    DropShadow="false"
                                    Style="color: white !important" />
                        </ActivatorContent>
                    </MudFileUpload>

                    <!-- Detect Barcodes Button -->
                    <MudTooltip Text="Detect Barcodes" Placement="Placement.Top" Delay="400" Arrow>
                        <MudFab Color="Color.Secondary"
                                Size="Size.Small"
                                StartIcon="material-symbols-rounded/scan"
                                OnClick="DecodeBarcodes"
                                DropShadow="false" />
                    </MudTooltip>

                    <!-- Upload to Database Button (Display on Larger Screen) -->
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <MudTooltip Text="Upload to Database" Placement="Placement.Top" Delay="400" Arrow>
                            <MudFab Color="Color.Secondary"
                                    Size="Size.Small"
                                    StartIcon="material-symbols-rounded/database_upload"
                                    OnClick="SaveDetectedBarcodesConfirmationAsync"
                                    DropShadow="false"
                                    Disabled="isUploadingResults" />
                        </MudTooltip>
                    </MudHidden>

                    <!-- Clear All Button -->
                    <MudTooltip Text="Clear All" Placement="Placement.Top" Delay="400" Arrow>
                        <MudFab Color="Color.Warning"
                                Size="Size.Small"
                                StartIcon="@Icons.Material.Rounded.ClearAll"
                                Disabled="isBusy"
                                DropShadow="false"
                                OnClick="ClearAllUploadedImagesConfirmationAsync" />
                    </MudTooltip>
                </MudStack>
            </MudPaper>
        </MudItem>
    </MudContainer>
</MudBreakpointProvider>

@code{
    private bool moreDrawerOpen { get; set; }

    private void ToggleMoreDrawer() => moreDrawerOpen = !moreDrawerOpen;
}